# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Logs
*.log

# Local data
portal-backend/data/uploads/

# Secrets
.env
.env.docker

# macOS
.DS_Store

# IDE
.vscode/
.idea/
.env.demo.local
k8s/secret.yaml
scripts/comandos para secrets
